<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{$title}</title>
<link href="image/iGMDR.ico" rel="shortcut icon" />
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/draw.css">
<script src="lib/d4.v4.min.js"></script>
<script src="lib/d3.v3.min.js"></script>
<script src="lib/d3.tip.v0.6.3.js"></script>
<script src="lib/liquidFillGauge.js"></script>
<script type="application/javascript">
	
    var base_url = function(uri, with_mode, keep_ref, keep_other_params, additional_params) {

        var base = '';
        var mode_base = '';
        var url = (with_mode === true ? mode_base : base);
        if (url.length > 1 && url.charAt(url.length - 1) !== '/')
            url += '/';

        if (uri === undefined)
            uri = '';
        else
            uri = $.trim(uri.toLowerCase());

        if (uri.charAt(0) === '/')
            uri = uri.substr(1);

        if (uri.length > 1 && uri.charAt(uri.length - 1) !== '/')
             uri += '';
		//$("h2").append(url + uri + build_url_query_param_string(keep_ref, keep_other_params, additional_params));
        return url + uri + build_url_query_param_string(keep_ref, keep_other_params, additional_params);
		
    }
</script>
<script src="lib/url.js"></script>
<script src="lib/rank.js"></script>

</head>

<body>
	<div>
    	<div class="main">
    		<div class="nav">
            <div class="navi">
              <div class="nav-brand"><embed src="image/iGMDR_logo.svg" type="image/svg+xml" pluginspage="http://www.adobe.com/svg/viewer/install/" /></div>
              <div id="nav-ui">
                  <ul>
                      <li><a href="index.php">iGMDR</a></li>
                      <li><a href="search.php">SEARCH</a></li>
                      <li><a href="explore.php">EXPLORE</a></li>
                      <li><a href="download.php">DOWNLOAD</a></li>
                      <li><a href="doc.php">DOCUMENTATION</a></li>
                      <li><a href="stat.php" class="nav-active">STATISTICS</a></li>
                  </ul>
              </div>
            </div>
            </div>
            <div id="subnav">
            	<a href="index.php">HOME</a> / <a href="stat.php">STATISTICS</a>
            </div>
            <div class="container">
              <div class="content-search-result">
              	<div class="content-result"><h2>Model Source</h2>{$model_source}</div>
             	<div class="content-result"><h2>Model Levels</h2>{$model_levels}</div>
                <div class="content-result"><h2>Reference Datasets</h2>{$ref_dataset}</div>
                <div class="content-result"><h2>Model Descriptors</h2>{$model_descriptor}</div>
                <div class="content-result"><h2>Gene Ranking by Models</h2>
                	<div id="gene_sort">
                    <form>
                      <label><input type="radio" name="mode" value="sumBySize" checked> Size</label>
                      <label><input type="radio" name="mode" value="sumByCount"> Count</label>
                    </form>
                    </div>
                </div>
                <div class="content-result"><h2>Drug Ranking by Models</h2>
                	<div id="drug_sort">
                    <form>
                      <label><input type="radio" name="mode" value="sumBySize" checked> Size</label>
                      <label><input type="radio" name="mode" value="sumByCount"> Count</label>
                    </form>
                    </div>
                </div>
                <div class="content-result"><h2>Cancer Ranking by Models</h2>
                	<div id="cancer_sort">
                    <form>
                      <label><input type="radio" name="mode" value="sumBySize" checked> Size</label>
                      <label><input type="radio" name="mode" value="sumByCount"> Count</label>
                    </form>
                    </div>
                </div>
                <div class="content-result"><h2>Tissue Ranking by Models</h2>
                	<div id="tissue_sort">
                    <form>
                      <label><input type="radio" name="mode" value="sumBySize" checked> Size</label>
                      <label><input type="radio" name="mode" value="sumByCount"> Count</label>
                    </form>
                    </div>
                </div>
                <div class="content-result"><h2>Gene-Drug Network from Models</h2><img src="image/whole_network_legend.png" style="margin-left:18px;"/><div id='wdg_network_draw'></div></div><script src="lib/drawnetwhole.js"></script>
				<script>
					jsonsort("#drug_sort","lib/rank_json.php?drug",930,800);
					jsonsort("#cancer_sort","lib/rank_json.php?cancer",930,400);
					jsonsort("#tissue_sort","lib/rank_json.php?tissue",930,400);
					jsonsort("#gene_sort","lib/rank_json.php?gene",930,800);
				</script>
                <div style="clear:both"></div>
              </div>
            </div>
            
            <div class="footer">
            	<div class="foot-1">
                  <div class="foot-1a">
                  SITE
                     <ul>
                      <li><a href="index.php">iGMDR</a></li>
                      <li><a href="search.php">SEARCH</a></li>
                      <li><a href="explore.php">EXPLORE</a></li>
                      <li><a href="download.php">DOWNLOAD</a></li>
                      <li><a href="doc.php">DOCUMENTATION</a></li>
                  	</ul>
                  </div>
                  <div class="foot-1a">
                  DATATYPES
                    <ul>
                      <li><a href="data_type.php?dataset">DATASETS</a></li>
                      <li><a href="data_type.php?tissue">TISSUES</a></li>
                      <li><a href="data_type.php?cancer">CANCERS</a></li>
                      <li><a href="data_type.php?drug">DRUGS</a></li>
                      <li><a href="data_type.php?gene">GENES</a></li>
                  	</ul>
                  </div>
                  <div class="foot-1a">
                  CLASSFICATION
                  	<ul>
                      <li><a href="drug_info.php?drug_class">DRUG CLASS</a></li>
                      <li><a href="drug_info.php?drug_target">DRUG TARGETS</a></li>
                      <li><a href="drug_info.php?drug_pathway">DRUG PATHWAYS</a></li>
                  	</ul>
                   </div>
                   <div class="foot-1b"><a href="http://www.visitormap.org/" target="_top"><img src="http://www.visitormap.org/map/m:pielsayqegjzuctb/s:1/c:c0c0c0/p:dot/y:0.png" alt="Free Visitor Maps at VisitorMap.org" border="0" style=" margin:0; padding:0; height:130px; opacity:0.4; filter:alpha(opacity=40);" /></a>
                   </div>
                </div>
                <div style="clear:both"></div>
    			<div class="foot-2">
      				<p>Copyright © 2018 <a href="#">Modellab</a> | All Rights Reserved</p>
      				<p style="font-size:12px;">Disclaimer: iGMDR is intended for research purposes only. Its information cannot be used for emergencies or medical or professional advice.</p>
    			</div>
  			</div>
            <div style="clear:both"></div>
  		</div>
   	</div>
</body>
</html>